<h1>Generator Dokumentów ASP</h1>

<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a class="nav-link text-black" href="/rachunek">Wygeneruj Rachunek</a>
  </li>
</ul>
<h3 id="amount-in-words">Wordify me</h3>
<label for="input" class="form-label">Amount</label>
<input
  type="number"
  class="form-control"
  id="input"
  placeholder="Enter a number"
/>
<button type="button" class="btn btn-primary" id="button">Wordify!</button>

